<h1 class="text-indigo-600 font-bold">URL Shortner</h1>

<%=form_with model: Link.new do |form|%>
    <div class="flex">
        <%=form.url_field :url,required: true, autofocus: true, placeholder: "https://example.com",class: "flex-grow rounded" %>

        <%=form.button "Save",class: 'ml-4 w-15 bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-4 rounded-lg rounded' %>
    </div>

<%end%>

<%=render @links %>
